html {
    width: 100%;
    height: 100%;
    background-color: rgb(199, 202, 157);
    /* background-color: rgb(233, 247, 38); */
    background: linear-gradient(to bottom,
            rgba(135,224,253,1) 0%,
            rgb(41, 160, 196) 40%,
            rgb(7, 106, 139) 100%);
    background-size: cover;
    /* font-family: 'Pacifico', cursive;
    font-family: 'Bungee Shade', cursive;
    font-family: 'Fruktur', cursive;
    font-family: 'Monoton', cursive;
    font-family: 'Black Ops One', cursive; */
}

.title {
    text-align: center;
    margin-bottom: 60px;
}

#buttons {
    display: flex;
    min-width: 600px;
    justify-content: space-evenly;
}

button {
    cursor: pointer;
    outline: none;
}

ul{
    list-style: none;
    display: flex;
    /* justify-content: space-between; */
}

ul li{
    padding-right: 20px;
}

/* 1st BUTTON */
#main-btn-1 {
    position: relative;
    left: 30px;
    height: 130px;
    width: 150px;
    border-radius: 5px;
    background-color:  rgb(218, 218, 218);
    box-shadow: inset 1px 2px 25px -3px rgba(0, 0, 0, .4),
                inset -1px -3px 25px -3px rgba(0, 0, 0, .4); 
    transition: all .2s ease-in-out, color .5s;
    transform:  translateZ(50px) rotateX(45deg);
    transform-style: preserve-3d;

    font-weight: 600;
    font-size: 30px;
    /* border: none; */
}

#main-btn-1:hover {
    color: white;
    text-shadow: 2px 2px 45px  white, 1px 0 black, -1px 0 black, 0 1px black, 0 -1px black;
}

#main-btn-1::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    display: block;
    width: 100%;
    height: 35px;
    background: rgb(141, 141, 141);
    box-shadow: inset 0 3px 25px  rgb(41, 40, 40);
    transform-origin: top left;
    transform: rotateX(-90deg);
    transition: all .2s ease-in-out;
}

#main-btn-1::after {
    content: '';
    position: absolute;
    top: -1px;
    left: -1px;
    display: block;
    width: 100%;
    height: 100%;
    border: 1px solid rgb(102, 101, 101);
    border-radius: 5px;
    box-shadow: 0 0 30px 0 black;
    background: transparent;
    transform-style: preserve-3d;

    transform: translateZ(-35px);
    transition: all .2s ease-in-out;
}

#main-btn-1.pressed {
    transform:  translate3d( 0, 25px, 25px) rotateX(45deg);
}

#main-btn-1.pressed::before {
    height: 0;
}

#main-btn-1.pressed::after {
    box-shadow: none;
    transform: translateZ(0px);
}

#main-btn-1-outside {
    height: 150px;
    width: 220px;
    perspective: 300px;
    -webkit-perspective: 300px;
}

/* 2nd BUTTON */
@keyframes runForward {
    0% { background-position: 0 0px; }
    100% { background-position: -764px 0px; }
}

@keyframes runBackward {
    0% { background-position: -764px 140px; }
    100% { background-position: 0 140px; }
}

@keyframes changeBackground {
    0% {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff00e9+0,ff00e9+25,ffffff+26,ffffff+50,ffffff+50,ff00e9+51,ff00e9+75,ffffff+76,ffffff+100 */
        background: #ff00e9; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ff00e9 0%, #ff00e9 25%, #ffffff 26%, #ffffff 50%, #ffffff 50%, #ff00e9 51%, #ff00e9 75%, #ffffff 76%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #ff00e9 0%,#ff00e9 25%,#ffffff 26%,#ffffff 50%,#ffffff 50%,#ff00e9 51%,#ff00e9 75%,#ffffff 76%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #ff00e9 0%,#ff00e9 25%,#ffffff 26%,#ffffff 50%,#ffffff 50%,#ff00e9 51%,#ff00e9 75%,#ffffff 76%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00e9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    50% {

        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+0,ffffff+25,ff00e9+26,ff00e9+50,ffffff+50,ffffff+51,ffffff+75,ff00e9+76,ff00e9+100 */
        background: #ffffff; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ffffff 0%, #ffffff 25%, #ff00e9 26%, #ff00e9 50%, #ffffff 50%, #ffffff 51%, #ffffff 75%, #ff00e9 76%, #ff00e9 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #ffffff 0%,#ffffff 25%,#ff00e9 26%,#ff00e9 50%,#ffffff 50%,#ffffff 51%,#ffffff 75%,#ff00e9 76%,#ff00e9 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #ffffff 0%,#ffffff 25%,#ff00e9 26%,#ff00e9 50%,#ffffff 50%,#ffffff 51%,#ffffff 75%,#ff00e9 76%,#ff00e9 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ff00e9',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }

    100% {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff00e9+0,ff00e9+25,ffffff+26,ffffff+50,ffffff+50,ff00e9+51,ff00e9+75,ffffff+76,ffffff+100 */
        background: #ff00e9; /* Old browsers */
        background: -moz-radial-gradient(center, ellipse cover, #ff00e9 0%, #ff00e9 25%, #ffffff 26%, #ffffff 50%, #ffffff 50%, #ff00e9 51%, #ff00e9 75%, #ffffff 76%, #ffffff 100%); /* FF3.6-15 */
        background: -webkit-radial-gradient(center, ellipse cover, #ff00e9 0%,#ff00e9 25%,#ffffff 26%,#ffffff 50%,#ffffff 50%,#ff00e9 51%,#ff00e9 75%,#ffffff 76%,#ffffff 100%); /* Chrome10-25,Safari5.1-6 */
        background: radial-gradient(ellipse at center, #ff00e9 0%,#ff00e9 25%,#ffffff 26%,#ffffff 50%,#ffffff 50%,#ff00e9 51%,#ff00e9 75%,#ffffff 76%,#ffffff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff00e9', endColorstr='#ffffff',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
    }
}

/* @keyframes changeFontColor {
    0% { color: blue }
    25% { color: yellow }
    50% { color: green }
    75% { color: yellowgreen }
} */

#main-btn-2 {
    width: 110px;
    height: 150px;
    border: 2px solid black;
    border-radius: 10px;
    transform: translate( 0 , calc(80px/2));
    background: url('./runningMan.png');
}

#main-btn-2-sign {
    position: relative;
    top: 30px;
    font-family: 'Fruktur', cursive;
    font-size: 30px;
    transition: all 1s ease-in-out;
    line-height: 4rem;
}

#main-btn-2-sign > span {
    display: inline-block;
}


@keyframes tada {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    10%, 20% {
        -webkit-transform: scale3d(.9,.9,.9) rotate(-3deg);
        transform: scale3d(.9,.9,.9) rotate(-3deg);
    }
    30%, 50%, 70%, 90% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(3deg);
    }
    40%, 60%, 80% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    
    50% {
        -webkit-transform: scale3d(1.15,1.15,1.15);
        transform: scale3d(1.15,1.15,1.15);
    }
    100% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

.tada {
    -webkit-animation: tada 1s;
    animation: tada 1s;
}

.pulse {
    -webkit-animation: pulse 0.5s;
    animation: pulse 0.5s;
}

.runForward {
    animation: runForward .7s steps(8) infinite;
}

.runBackward {
    animation: runBackward .7s steps(8) infinite;
}

#main-btn-2-outside {
    width: calc(110px + 80px) ;
    height: calc( 150px + 80px );
    text-align: center;
    position: relative;
    top: calc( -80px / 2);
    /* background-color: red; */
    border-radius: 10px;

    /* animation: changeBackground .3s infinite; */

}

#main-btn-2-outside.pressed {
    animation: changeBackground .1s infinite;
}



/* 3rd BUTTON */
@keyframes rotateHue{
    0% {
        filter: hue-rotate(0deg);
    }
    100% {
        filter: hue-rotate(360deg);
    }
}

#main-btn-3-outside{
    width: 200px;
    height: 200px;
    position: relative;

}

@keyframes tada-delay-6s {
    0% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    1.66%, 3.33% {
        -webkit-transform: scale3d(.9,.9,.9) rotate(-3deg);
        transform: scale3d(.9,.9,.9) rotate(-3deg);
    }
    5%, 8.33%, 11.66%, 15% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(3deg);
    }
    6.66%, 10%, 13.33% {
        -webkit-transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
        transform: scale3d(1.1,1.1,1.1) rotate(-3deg);
    }
    16.66% {
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}

#main-btn-3{
    font-family: 'Monoton', cursive;




    /* font-weight: 600; */
    font-size: 30px;
    color: #ff6d41;

    z-index: 1;
    position: absolute;
    outline: none;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    top: 25px;
    left: 25px;
    border: none;
    /* background-color: rgb(63, 172, 206); */
    background: linear-gradient(to bottom,
            /* rgba(135,224,253,1) 0%, */
            rgb(58, 176, 212) 0%,
            rgb(43, 152, 189) 100%);
            /* rgb(41, 160, 199) 100%); */

    /* background: red; */
    /* background-clip: text;
    -webkit-background-clip: text;
    color: transparent; */


}

#main-btn-3 > div {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: transparent;
    animation: tada-delay-6s 1s infinite;

}

#main-btn-3 > div > div {
    /* background: linear-gradient(to bottom right, #f22, #f2f 14.25%, #22f 28.5%, #2ff 42.75%, #2f2 57%, #2f2 71.25%, #ff2 85.5%, #f22);; */
    background: linear-gradient(to bottom, rgba(254,187,187,1) 0%,rgba(254,144,144,1) 45%,rgba(255,92,92,1) 100%);
    
    
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    animation: rotateHue 20s infinite;

}


@keyframes rotator{
    from{ transform: rotate(0deg); }
    to{ transform: rotate(1440deg); }
} 

#main-btn-3-wings{
    position: relative;
    width: 100%;
    height: 100%;

}
#main-btn-3-wings-inside {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-image: linear-gradient(45deg, 
                                transparent 0%,
                                transparent 30%,
                                rgb(20, 235, 135) 30%,
                                rgb(232, 235, 20) 70%, 
                                transparent 70%, 
                                transparent 100%);
    animation: rotateHue 20s infinite;
}

#main-btn-3-wings.pressed {
    animation: rotator 2.5s ease-in-out ;
}




.heartbeat {
    display: inline-block;
    animation: tada-delay-6s 1s infinite;
}

footer {
    position: absolute;
    bottom: 5px;
}